@import "tailwindcss";

:root {
  --sb-hero-name-background: linear-gradient(-20deg, hsl(200, 98%, 39%) 30%, hsl(199, 95%, 74%));
  --sb-hero-background: linear-gradient(-45deg, hsl(200, 98%, 39%) 50%, hsl(199, 95%, 74%) 50%);
}

table, tbody, tr, td {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;

}

td{
  border-left: 2px solid black !important;
  border-bottom: 2px solid black !important;
  padding: 12px !important;
  background: #CCCCCC;
}

table {
  border-right: 2px solid black !important;
  border-top: 2px solid black !important;
}

pre {
  color: red;
}
