name: Format

on:
    push:
        branches: [main]

jobs:
    format:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: |
                  bun install --no-frozen-lockfile --ignore-scripts
                  git restore .

            - name: Format
              run: bun run format

            - name: Add, Commit and Push
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: 'Format'
