name: Build and Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 2


            - uses: pnpm/action-setup@v4
                with:
                version: 10
            - uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Build
              run: bun run build

            # - name: Test
            #   run: bun run test
            #   env:
            #       CI: true

            - name: Lint
              run: bun run lint
