name: Build and Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 2

        steps:
            - uses: pnpm/action-setup@v4
              with:
                version: 10

            - name: Install dependencies
              run: pnpm install

            - name: Build
              run: pnpm build

            # - name: Test
            #   run: pnpm test
            #   env:
            #       CI: true

            - name: Lint
              run: pnpm lint
